@model List<ResultAppUserDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    var count = 0;
}

<table class="table table-xs mb-0">
    <thead>
        <tr>
            <th>#</th>
            <th>Kullanıcı</th>
            <th>Çalıştığı Şube</th>
            <th>Şehir</th>
            <th>Ülke</th>
            <th>Durum</th>
            <th>Cinsiyet</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
        <tr>
            <td>@count</td>
            <td><img src="~/adminweb/images/avatar/1.jpg" class=" rounded-circle mr-3" alt="">@item.Name @item.Surname</td>
            <td>
                <span>@item.WorkLocation.WorkLocationName</span>
            </td>
            <td>
                <span>@item.WorkLocation.WorkLocationCity</span>
            </td>
            <td>
                <span>@item.Country</span>
            </td>
            <td>
                <div>
                    <div class="progress" style="height:6px">
                        <div class="progress-bar bg-success" style="width:50%"></div>
                    </div>
                </div>

            </td>
            <td>
                @if (item.Gender == "Erkek")
                {
                    <i class="fa fa-circle-o text-success mr-2"></i>@item.Gender
                }
                else
                {
                    <i class="fa fa-circle-o text-warning mr-2"></i>@item.Gender
                }
            </td>

        </tr>
        }

    </tbody>
</table>
<br />
<a href="/Register/Index/" class="btn btn-primary">Yeni Kullanıcı Kaydı</a>
